.odemediv{background-color:#f7f7f7;border:solid 0.3mm #ebebeb}

input[type="radio"] {
  display: none;
}
input[type="radio"]:not(:disabled) ~ label {
  cursor: pointer;
}
input[type="radio"]:disabled ~ label {
  color: #bcc2bf;
  box-shadow: none;
}

label {
  display: block;
  padding: 15px;
  padding-left:25px;
  margin:0;
  padding-right:25px;
  text-align: center;
  border-right:solid 0.3mm #d9d9d9;
  vertical-align:middle;
  position: relative;
}
input[type="radio"]:checked + label {
  background: #04203b;
  color: white;
}
p {
  font-weight: 900;
}

@media only screen and (max-width: 700px) {
  section {
    flex-direction: column;
  }
}
